.app-chip-item + .app-chip-item{
    margin-left :10px;
}

.app-card-content{
    padding-bottom:5px !important;
    .tags{
        margin-bottom:10px;
    }
}

.description.speaker{
    margin-top:10px;
}
