.w1 {
    height: 100%;
    background-color: #FFFFFF;
    overflow: hidden;
    box-sizing: border-box;
    border: 0;
    border-radius: 4px;
    text-align: right;
    line-height: 14px;
    font-size: 12px;
    font-feature-settings: normal;
    text-size-adjust: 100%;
    box-shadow: none;
    padding: 1px;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.w2 {
    height: 100%;
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.w3 {
    color: #FFFFFF;
    line-height: 14px;
    font-weight: 400;
    font-size: 11px;
    box-sizing: border-box;
    padding: 2px 6px;
    width: 100%;
    font-family: Verdana, Tahoma, Arial, sans-serif;
}

.w4 {
    border: 0;
    margin: 0;
    padding: 0;
    line-height: 14px;
}

iframe {
    border: 0 !important;
    margin-top:60px !important;
height:100% !important;
}