.area{
    padding: 15px 20px;

}

.app-formcontrol + .app-formcontrol{
    margin-top:25px;
}

.app-formcontrol.volume{
    display: flex;
    .qty{
        flex:1;
        margin-right:20px;
    }
    .unit{
        width: 80px;
        display: flex;
        align-items: center;
    }
}

.ticket{
    margin-bottom:80px;
}

.t-check, .t-cancel, .t-delete, .t-first, .t-second, .t-third, .t-histo{
    position: fixed !important;
    bottom:20px;
    right:30px;
}

.t-delete, .t-second{
    right:100px;
}

.t-histo{
    left:30px;

    color: #4a4a4a;
    background: white;

    svg{
        font-size: 2rem;
    }
}


.t-cancel, .t-third{
    right:167px;
}

.vulgarisation{
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 15px;
}

.state-area{
    text-align: center;
}