.win-chip{
    float:right;
    font-weight: bold;
    font-size: 0.95rem;
}

.my-currency{
    margin: 0px 2px;
}

.currency-avatar{
    display: inline !important;
    margin-left: 10px;
}
.currencies{
    display: flex;
    padding-top: 10px;
    overflow-x: auto;
}

.cr-area{
    display: flex;

    .cr-avatar{
        display: flex;
        align-items: center;
    }
    .cr-titles{
        display: flex;
        align-items: start;
        flex-direction: column;
        margin-left: 10px;

        .cr-title{
            font-size: 1.1rem;
        }
        .cr-subtitle{
            font-size:0.9rem;
        }
    }
}

.cr-crypto-name{
    color:grey;
}

span.sub{
    color: grey;
    margin-left: 10px;
}

.fab-add, .fab-balance{
    position: fixed !important;
    bottom: 30px;
    right: 30px;
}
.fab-balance{
    left: 30px;
}

.app-avatar.avatar-state-TO_SELL, .avatar-state-TO_BUY{
    background-color: rgba(255, 102, 0, 1) !important;
}

.tickets{
    margin-bottom: 70px;
}

.tickets-grouped{
    padding: 20px 10px;
}

.acc-sum .MuiAccordionSummary-content.Mui-expanded{
    margin:0;
}
.ticket-item{
    padding-top:0 !important;
}

.list-tickets{
    width: 100%;
}